.colorsTypes {
    padding: 145px 191px 145px 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@import '../blocks/common.blocks/color/color.scss';
@import '../blocks/common.blocks/type/type.scss';
@import '../blocks/touch.blocks/touch.scss';