mixin color(classs, caption, shade)
    div.color
        div(class='color__shade color__shade_'+classs)
        div.color__text
            div.color__caption= caption
            div.color__value= shade
        block