.colors {
    max-width: 270px;
    @media screen and (max-width: 1100px) { 
        & {
            max-width: 50%;
        }
    }
    @media screen and (max-width: 630px) {  
        & {
            margin-bottom: 50px;
            max-width: 100%;
            width: 100%;
        }
    }
}
.color {
    display: flex;
    align-items: center;
    flex-direction: row;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.color__shade {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    &_dark_shade100 {
        background: $darkShade100;
    }
    &_dark_shade75 {
        background: $darkShade75;
    }
    &_dark_shade50 {
        background: $darkShade50;
    }
    &_dark_shade25 {
        background: $darkShade25;
    }
    &_dark_shade5 {
        background: $darkShade5
    }
    &_purple {
        background: $purpe;
    }
    &_green {
        background: $green;
    }
}
.color__text {
    display: flex;
    flex-direction: column;
    width: 159px;
}
.color__caption {
    font: {
        size: 19px;
        family: 'Quicksand Bold';
    }
    line-height: 29px;
}
.color__value {
    font: {
        size: 19px;
    }
}