doctype html
html(lang='ru')
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block meta
            title Second task project
        block head
            link(rel='stylesheet', href='../../style.css')
        
    body.body__grey
        noscript Отключён Javascript. Это печально. 

        block content
            p содержимое