doctype html
html(class='colors', lang='ru')
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block meta
            title Second task project
        block head
            link(rel='stylesheet', href='../../colors.css')
            link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Quicksand&display=swap")
        
    body
        noscript Отключён Javascript. Это печально. 

        block content
            p содержимое