extends ../pug/layout.pug
block head 
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Quicksand&display=swap")
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    link(rel='stylesheet', href='../../colors.css')

block meta
    title Colors and type
    meta(name='description', content='Colors and type page')

block content
    include ../blocks/common.blocks/colorsTypes/colorsTypes
        