extends ../pug/layout.pug

block meta
    title Colors and type
    meta(name='description', content='Colors and type page')

block content
    include ../blocks/common.blocks/color/color
    -var classes = {'dark_shade100': '#1F2041', 'dark_shade75': '#1F2041', 'dark_shade50': '#1F2041', 'dark_shade25': '#1F2041', 'dark_shade5': '#1F2041', 'purple': '#BC9CFF', 'green': '#6FCF97' };
    each val, className in classes
        +color(className, val, 'hi')