.types {
    @media screen and (max-width: 1100px) { 
        & {
            max-width: 50%;
        }
    }
    @media screen and (max-width: 630px) {  
        & {
            max-width: 100%;
            width: 100%;
        }
    }
}
.type {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
}
.type__name {
    margin-right: 30px;
    color: $darkShade25;
    width: 37px;
    text-align: right;
    text-transform: uppercase;
    &_h1 {
        font-size: $h1FontSize;
        line-height: 29px;
    }
    &_h2 {
        font-size: $h2FontSize;
        line-height: 23px;
    }
    &_h3 {
        font-size: $h3FontSize;
        line-height: 15px;
    }
    &_body {
        text-transform: capitalize;
    }
}
.type__description {
    max-width: 336px;
    &_h1 {
        max-width: 336px;
    }
    &_h2 {
        max-width: 282px;
    }
    &_h3 {
        max-width: 186px;
    }
    &_body {
        font: {
            weight: 100;
        }
        max-width: 301px;
    }
}