.textField {
    border: 1px solid $darkShade25;
    border-radius: $borderRadius;
    height: 44px;
    line-height: 18px;
    padding: 13px 0 13px 15px;
    font-family: 'Montserrat Regular', sans-serif;
}