@mixin h1 {
    font: {
        size: $h1FontSize;
        family: 'Quicksand Bold', sans-serif;
    }
    line-height: 30px;
}
@mixin h2 {
    font: {
        size: $h2FontSize;
        family: 'Quicksand Bold', sans-serif;
    }
    color: $darkShade100;
}
@mixin h3 {
    font: {
        weight: bold;
        size: $h3FontSize;
        family: 'Montserrat Bold', sans-serif;
    }
    line-height: 15px;
    text-transform: uppercase;
}