body {
    background: url(../img/logo.png) 30px 30px no-repeat;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    font-style: normal;
    color: #1F2041;
}
@import '../blocks/common.blocks/colorsTypes/colorsTypes.scss';